@use '../../styles/colors.scss' as colors;

.profileBlock {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  max-width: 122rem;
  gap: 1rem;
  padding-bottom: 2rem;
}

.edit:hover {
  color: colors.$c-blue-400;
}

.header {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.titles {
  color: colors.$c-gray;
  margin-right: 2rem;
}

.list {
  min-height: 15rem;
}

.item {
  padding-bottom: 1rem;
}
