@use '../../styles/colors.scss' as colors;

.errorBlock {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  gap: 2rem;
}

.errorContainer {
  text-align: center;
  font-family: 'oswald';
  font-weight: 500;
  padding: 2rem;
}

.title {
  text-align: center;
  font-size: 4rem;
}

.spanError {
  display: inline-block;
  line-height: 0.7;
  position: relative;
  color: colors.$c-yellow;
}

.digitFirst,
.digitSecond,
.digitThird {
  display: inline-block;
  position: relative;
  font-size: 18rem;
  filter: drop-shadow(0.2rem 0.2rem 0.3rem colors.$c-white);
}

@media (max-width: 800px) {
  .digitFirst,
  .digitSecond,
  .digitThird {
    font-size: 12rem;
  }
}

@media (max-width: 580px) {
  .digitFirst,
  .digitSecond,
  .digitThird {
    font-size: 7rem;
  }
}
