@use '../../styles/colors.scss' as colors;

.wrapper {
  display: flex;
  width: 100%;
  max-width: 122rem;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
}

.edit:hover {
  color: colors.$c-blue-400;
}

.titles {
  color: colors.$c-gray;
  text-align: center;
  margin-right: 1rem;
}

.blockInner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.usersBlock {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blockItem {
  background-color: colors.$c-blue-800;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 1rem;
}

.item {
  padding-bottom: 1rem;
}

.pastDate {
  color: colors.$c-red;
}

.button {
  min-width: 20rem;
}

.buttons {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 2rem 0;

  :global(.MuiPaginationItem-root) {
    color: inherit;
    font-size: 2.2rem;
  }
  :global(.MuiPaginationItem-root:hover) {
    background-color: colors.$c-blue-800;
    cursor: pointer;
  }
  :global(.MuiPaginationItem-root.MuiPaginationItem-root.Mui-selected) {
    background-color: colors.$c-blue-400;
    font-weight: bold;
    cursor: pointer;
  }
  :global(.MuiPaginationItem-previousNext) {
    color: inherit;
  }
}

@media (max-width: 768px) {
  .pagination {
    padding: 1rem 0;

    :global(.MuiPaginationItem-root) {
      font-size: 1.6rem;
    }
  }
  .title {
    text-align: center;
    font-size: 2rem;
  }

  .blockItem {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 480px) {
  .pagination {
    :global(.MuiPaginationItem-root) {
      font-size: 1.2rem;
    }
  }
}
