@use '../../styles/colors.scss' as colors;

.header {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: colors.$c-blue-800;
}

.wrapper {
  max-width: 122rem;
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
}

.navList {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link:hover {
  color: colors.$c-blue-400;
}

.active {
  color: colors.$c-yellow;
}
