@use '../../styles/colors.scss' as colors;

.container {
  position: relative;
}

.inputBlock {
  position: relative;
}

.inputText {
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
  border-width: 0.1rem;
  border-radius: 1rem;
  background-color: colors.$c-blue-800;
}

.label {
  padding-bottom: 1rem;
  font-size: 2rem;
}

.focused {
  border: solid 0.1rem colors.$c-yellow;
}

.wrong {
  border: solid 0.1rem colors.$c-red;
}

.correct {
  border: solid 0.1rem colors.$c-green;
}
