@use '../../styles/colors.scss' as colors;

.loaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1001;
}

.loader {
  position: relative;
  width: 3em;
  height: 3em;
}

.loader::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0.3em solid colors.$c-green;
  border-left-color: transparent;
  animation: spin 1.1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
