@use '../../styles/fonts.scss' as fonts;
@use '../../styles/colors.scss' as colors;

.title {
  text-align: center;
  font-family: 'Russo-one, sans serif';
  color: colors.$c-yellow;
  padding-top: 2rem;
}

@media (max-width: 480px) {
  .title {
    font-size: 1.8rem;
  }
}
