@use '../../styles/colors.scss' as colors;
.footer {
  display: flex;
  justify-content: center;
  min-height: 10vh;
  background-color: colors.$c-blue-800;
}

.wrapper {
  width: 100%;
  max-width: 122.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.title {
  text-align: center;
  font-size: 1.5rem;
}
