.changeForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70rem;
  padding-bottom: 2rem;
}

.header {
  display: grid;
  grid-template-columns: 0.5fr 4fr;
  padding-bottom: 3rem;
}
