@use '../../styles/colors.scss' as colors;

.wrapper {
  display: flex;
  width: 100%;
  max-width: 122rem;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem 1rem 2rem;
}

.inputsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}

.header {
  display: grid;
  grid-template-columns: 0.5fr 4fr;
  padding: 2rem 0;
}

.titles {
  padding-bottom: 2rem;
  text-align: center;
  color: colors.$c-gray;
}

.buttonBlock {
  width: 25rem;
  align-self: center;
  justify-self: first baseline;
}

.error {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0 0 0.5rem;
  color: colors.$c-red;
  min-height: 2rem;
}

@media (max-width: 920px) {
  .inputsContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}
